body {
	margin: 10px 0px;
	padding: 5px 0px;
}

#source-form {
	float: left;
	cursor: crosshair;
	width: 890px;
	height: 1152px;
	padding: 4px 0px 0px 20px;

	background-repeat: no-repeat;
}

form { float: left; }

textarea { 
	width: 400px;
	height: 500px;
	border: 1px solid #ccc;
	font: 12px Menlo,Monaco,Consolas,Lucida Console;
}

#descriptor { width: 320px; }

#bkimglist { width: 400px; }

.dummy {
	height: 12px;
	position: absolute;
	background-color: #ccc;
	text-align: center;
	font-size: 12px;
	color: red;
	opacity: 0.5;
}

.selected { border: 1px solid red; }

.signature { height: 50px; }

.dummy[data-title]:hover:after {
    content: attr(data-title);
    padding: 4px 8px;
    color: #000;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-top: 5px;
    white-space: nowrap;
    z-index: 999px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #222;
    background-color: #ffffaa;
    opacity: 1;
}
